---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    heroImage?: string;
    createdAt?: string;
    updateAt?: string;
    tags: string[];
  };
}

const {
  content: { title, description, heroImage, createdAt },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content className="pt-6">
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <div class="mb-4">{description}</div>
        <span
          class="mt-6 bg-orange-200 text-gray-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
          >{createdAt}</span
        >
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
        <span
          class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
        ></span>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
